<section class="projetos" id="projetos">
    <div class="row">
        <div class="col-12">
            <h2 class="section-title">Projetos 1° Tri</h2>
        </div>

        <div class="col-12" id="card">
            <p>
                <strong>Tema:</strong><br /> {{ tema }} <br /><br />

                <strong>Habilidades Desenvolvidas:</strong><br />
                <strong> {{ idHabilidade }} - </strong> {{ habilidade }} <br /><br />

                <strong>Descrição detalhada da atividade:</strong> {{ descricaoAtividade }}
            </p>
            <div class="card" style="margin-left: 10px">
                <h3>{{ tema }}</h3>
                <a href="https://www.canva.com/design/DAGje6xIE_8/3GHpJYi_q_lVZc8HG1vkCg/edit?utm_content=DAGje6xIE_8&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                    target="_blank"><img src="../assets/1tri/mat/ph.png" style="border-radius: 2em" /></a>
            </div>
        </div>
    </div>
</section>