<header class="header" role="banner">
    <div class="header-container">
        <h1 class="logo"><a href="../index.html" aria-label="Página inicial do portfólio">portfólio</a></h1>

        <button class="nav-toggle" aria-label="Abrir menu de navegação" aria-expanded="false">
            <span class="hamburger"></span>
        </button>

        <nav aria-label="Navegação principal">
            <ul class="main-nav">
                <li class="nav-item">
                    <a href="#" aria-haspopup="true" aria-expanded="false">
                        Ciências Humanas
                        <svg class="caret-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                            aria-hidden="true" focusable="false">
                            <path fill="currentColor"
                                d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z">
                            </path>
                        </svg>
                    </a>
                    <div class="dropdown" style="left: -23%">
                        <div class="textDropdown">Trimestres:</div>
                        <a href="../CienciasHumanas/1-trimestre.html">1° Trimestre</a>
                        <a href="../CienciasHumanas/2-trimestre.html">2° Trimestre</a>
                        <a href="#">3° Trimestre</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" aria-haspopup="true" aria-expanded="false">
                        Matemática
                        <svg class="caret-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                            aria-hidden="true" focusable="false">
                            <path fill="currentColor"
                                d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z">
                            </path>
                        </svg>
                    </a>
                    <div class="dropdown" style="left: -50%">
                        <div class="textDropdown">Trimestres:</div>
                        <a href="../Matematica/1-trimestre.html">1° Trimestre</a>
                        <a href="#">2° Trimestre</a>
                        <a href="#">3° Trimestre</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" aria-haspopup="true" aria-expanded="false">
                        Linguagens
                        <svg class="caret-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                            aria-hidden="true" focusable="false">
                            <path fill="currentColor"
                                d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z">
                            </path>
                        </svg>
                    </a>
                    <div class="dropdown" style="left: -52%">
                        <div class="textDropdown">Trimestres:</div>
                        <a href="../Linguagens/1-trimestre.html">1° Trimestre</a>
                        <a href="#">2° Trimestre</a>
                        <a href="#">3° Trimestre</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" aria-haspopup="true" aria-expanded="false">
                        Ciências Da Natureza
                        <svg class="caret-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                            aria-hidden="true" focusable="false">
                            <path fill="currentColor"
                                d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z">
                            </path>
                        </svg>
                    </a>
                    <div class="dropdown" style="left: -16%">
                        <div class="textDropdown">Trimestres:</div>
                        <a href="../CienciasNatureza/1-trimestre.html">1° Trimestre</a>
                        <a href="#">2° Trimestre</a>
                        <a href="#">3° Trimestre</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" aria-haspopup="true" aria-expanded="false">
                        Atividades Transversais
                        <svg class="caret-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                            aria-hidden="true" focusable="false">
                            <path fill="currentColor"
                                d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z">
                            </path>
                        </svg>
                    </a>
                    <div class="dropdown" style="left: -10%">
                        <div class="textDropdown">Trimestres:</div>
                        <a href="../index.html">1° Trimestre</a>
                        <a href="#">2° Trimestre</a>
                        <a href="#">3° Trimestre</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>