<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Contato</h3>
                <ul class="contact-list">
                    <li>Email: vinicius.sebold05@gmail.com</li>
                    <li>GitHub: github.com/vinisebold</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Links</h3>
                <ul class="footer-links">
                    <li><a href="#">Início</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#projetos">Projetos</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Instituição</h3>
                <p>Senai Blumenau<br />Técnico em Desenvolvimento de Sistemas</p>
            </div>
        </div>
        <div class="copy">
            <p>&copy; 2025 Vinicius Sebold. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>